.footer {
    // New Agon
    .width-20
    {
        width: 20%;
    }
    .width-25
    {
        width: 25%;
    }
    .width-22
    {
        width: 22%;
    }
    .width-23
    {
        width: 23%;
    }
    .width-16
    {
        width: 19%;
    }

    .menu-footer {
        display: inline-block;
        li {
            list-style: none;
            margin-bottom: 8px;
            a {
                color: $color-white;
                font-size: $font-md;
                font-weight: 400;
                line-height: 28px;
                text-decoration: none;
                display: block;
                padding: 0px 0px 0px 0px;
                transition-duration: 0.2s;
                &:hover {
                    color: $color-brand-1;
                    transition-duration: 0.2s;
                    padding-left: 2px;
                }
            }
        }
    }
    .footer-bottom {
        padding: 30px 0px;
        color: $color-gray-100;
        font-size: $font-sm;
        a {
            text-decoration: none;
        }
    }
    // End new Agon
}
.galleries-footer {
    position: relative;
}
.list-imgs {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -5px;
    li {
        width: 33.33%;
        padding: 5px;
    }
}
.bg-map {
    position: relative;
    &::before {
        content: "";
        height: 50%;
        bottom: 0px;
        width: 100%;
        background-color: $color-brand-2;
        z-index: 1;
        position: absolute;
    }
    .container {
        position: relative;
        z-index: 2;
    }
}
#scrollUp {
	width: 56px;
    height: 56px;
    color: $color-white;
    right: 20px;
    bottom: 20px;
    border-radius: 0px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    z-index: 999 !important;
    border: 0;
    transition-duration: 0.2s;
    background-color: $color-brand-2;
    line-height: 56px;
    svg {
        height: 28px;
    }
    i {
        display: block;
        line-height: 56px !important;
        font-size: 20px;
        color: #fff;
    }
    &:hover {
        transform: translateY(-3px);
        transition-duration: 0.2s;
        background-color: $color-brand-1;
    }
}
.menu-bottom
{
    li
    {
        display: inline-block;
        a
        {
            display: block;
            padding:0px 15px;
        }
        &:first-child
        {
            a
            {
                padding-left: 0px;
            }
        }
    }
}
.footer-1
{
    background-color: $color-brand-2;
    margin: 0px 0px 0px 0px;
    padding: 90px 0px 25px 0px;
}
.footer-2 {
    background-color: $color-gray-900;
    color: $color-gray-100;
}
.footer-3 {
    border-top: 1px solid $color-gray-300;
    padding-top: 30px;
}
.list-info-footer {
    width: 100%;
    padding-left: 28px;
    li {
        display: flex;
        align-items: center;
        margin-bottom: 34px;
        margin-top: 10px;
        .cardImage {
            min-width: 57px;
            margin-right: 10px;
            .icon-brand-1 {
                width: 57px;
                height: 57px;
                background-color: $color-brand-1;
                border-radius: 50%;
                line-height: 57px;
                text-align: center;
                display: inline-block;
                img {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
}
.box-newsletter {
    position: relative;
    border-radius: 0px;
    background-color: $background-bg-1;
    padding: 66px;
    display: inline-block;
    width: 100%;

    &::before {
        content: "";
        position: absolute;
        top: 27px;
        right: 37px;
        height: 57px;
        width: 167px;
        background: url(../imgs/page/homepage2/bg-newsletter-1.png) no-repeat center;
        background-size: cover;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 27px;
        right: 37px;
        height: 45px;
        width: 45px;
        background: url(../imgs/page/homepage2/bg-newsletter-2.png) no-repeat center;
        background-size: cover;
    }
    .img-main {
        border-radius: 565px;
        max-width: 100%;
        width: 100%;
    }
    .image-1 {
        position: absolute;
        left: 0px;
        bottom: -45px;
    }
    .box-image-newsletter {
        position: relative;
    }
    .form-newsletter {
        form {
            display: flex;
            input[type="text"], textarea {
                width: 100%;
                border: 0px;
                outline: 0;
                box-shadow: none;
                color: $color-gray-900;
            }
        }
    }
    .box-map-2 {
        max-width: 303px;
        width: 100%;
        height: 278px;
        margin-left: 20px;
        iframe {
            height: 100%;
        }
        border: 5px solid $color-white;
    }
    &.box-newsletter-2 {
        background-color: $background-white;
        border: 1px solid $color-brand-3;
        padding-bottom: 50px;
        background-image: url(../imgs/page/homepage3/tree.png);
        background-repeat: no-repeat;
        background-size: auto 80%;
        background-position: bottom right;
        .form-newsletter {
            border: 1px solid $color-gray-80;
            border-radius: 8px;
        }
        > .row {
            position: relative;
            z-index: 2;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0px;
            right: 140px;
            height: 70px;
            width: 165px;
            background: url(../imgs/page/homepage3/ellipse1.png) no-repeat top right;
            background-size: contain;
            z-index: 1;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            z-index: 1;
            left: 60px;
            height: 50px;
            width: 346px;
            background: url(../imgs/page/homepage3/ellipse2.png) no-repeat top right;
            background-size: contain;
        }
    }
}
.box-footer-2 {
    background-color: $color-gray-80;
    border-radius: 8px;
    padding: 40px 30px 30px 30px;
}
.footer-home2 {
    padding: 0px;
    .footer-1 {
        padding-bottom: 0px;
    }
}
footer a {
    text-decoration: none;
}
.icon-socials {
    display: inline-block;
    margin-right: 24px;
    height: 14px;
    width: 14px;
    transition-duration: 0.2s;
    vertical-align: middle;
    background-size: contain !important;
    &:hover {
        transform: translateY(-3px);
        transition-duration: 0.2s;
    }
    &.icon-facebook {
        background: url(../imgs/template/icons/fb.svg) no-repeat center;
        transition-duration: 0.2s;
        &:hover {
            background: url(../imgs/template/icons/fb.svg) no-repeat center;
            transition-duration: 0.2s;
        }
    }
    &.icon-twitter {
        background: url(../imgs/template/icons/tw.svg) no-repeat center;
        transition-duration: 0.2s;
        &:hover {
            background: url(../imgs/template/icons/tw.svg) no-repeat center;
            transition-duration: 0.2s;
        }
    }
    &.icon-instagram {
        background: url(../imgs/template/icons/inst.svg) no-repeat center;
        transition-duration: 0.2s;
        &:hover {
            background: url(../imgs/template/icons/inst.svg) no-repeat center;
            transition-duration: 0.2s;
        }
    }
    &.icon-linkedin {
        background: url(../imgs/template/icons/in.svg) no-repeat center;
        transition-duration: 0.2s;
        &:hover {
            background: url(../imgs/template/icons/in.svg) no-repeat center;
            transition-duration: 0.2s;
        }
    }
    &.icon-youtube {
        background: url(../imgs/template/icons/youtube.svg) no-repeat center;
        transition-duration: 0.2s;
        &:hover {
            background: url(../imgs/template/icons/youtube.svg) no-repeat center;
            transition-duration: 0.2s;
        }
    }
    &.icon-skype {
        background: url(../imgs/template/icons/skype.svg) no-repeat center;
        transition-duration: 0.2s;
        &:hover {
            background: url(../imgs/template/icons/skype.svg) no-repeat center;
            transition-duration: 0.2s;
        }
    }
}